USC Registration.xcodeproj/project.xcworkspace/xcuserdata/vincentho.xcuserdatad/UserInterfaceState.xcuserstate
USC Registration.xcodeproj/xcuserdata/vincentho.xcuserdatad/xcschemes/USC Registration.xcscheme
USC Registration.xcodeproj/xcuserdata/vincentho.xcuserdatad/xcschemes/xcschememanagement.plist
